# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode settings
.vscode/

# Mac OS files
.DS_Store

# Windows files
Thumbs.db

# Build folders
build/
dist/

# Logs
*.log

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Workspace settings
*.code-workspace

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore Raylib build artifacts
raylib/
